# Pandas 실습 : 실험 데이터 다루기

**목적:**
- Pandas의 주요 기능 실습 (DataFrame 생성, groupby, 필터링, 슬라이싱, 벡터 연산 등)

In [1]:
import pandas as pd
import numpy as np

## 1. 실험 데이터 생성

In [2]:
data = {
    'experiment_id': range(1, 11),
    'researcher': ['Alice', 'Bob', 'Alice', 'David', 'Bob', 'Alice', 'Charlie', 'David', 'Charlie', 'Bob'],
    'date': pd.date_range(start='2025-07-01', periods=10, freq='D'),
    'temperature_C': [37.2, 36.5, 38.1, 35.9, 37.0, 36.8, 38.3, 36.4, 37.5, 36.7],
    'ph_level': [7.2, 7.4, 6.9, 7.0, 7.1, 7.3, 6.8, 7.5, 7.2, 7.0],
    'result': ['pass', 'fail', 'pass', 'fail', 'pass', 'pass', 'fail', 'fail', 'pass', 'fail']
}
df = pd.DataFrame(data)
df

   experiment_id researcher       date  temperature_C  ph_level result
0              1      Alice 2025-07-01           37.2       7.2   pass
1              2        Bob 2025-07-02           36.5       7.4   fail
2              3      Alice 2025-07-03           38.1       6.9   pass
3              4      David 2025-07-04           35.9       7.0   fail
4              5        Bob 2025-07-05           37.0       7.1   pass
5              6      Alice 2025-07-06           36.8       7.3   pass
6              7    Charlie 2025-07-07           38.3       6.8   fail
7              8      David 2025-07-08           36.4       7.5   fail
8              9    Charlie 2025-07-09           37.5       7.2   pass
9             10        Bob 2025-07-10           36.7       7.0   fail

## 2. 데이터 확인
- Q2-1. 데이터 프레임의 기본 정보를 보여주세요
- Q2-2. 데이터 프레임의 가장 윗 5행을 보여주세요
- Q2-3. 데이터 프레임의 가장 아래 5행을 보여주세요

In [ ]:
# Q2-1. 데이터 프레임의 기본 정보를 보여주세요

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   experiment_id  10 non-null     int64
 1   researcher     10 non-null     object
 2   date           10 non-null     datetime64[ns]
 3   temperature_C  10 non-null     float64
 4   ph_level       10 non-null     float64
 5   result         10 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 612.0+ bytes

In [ ]:
# Q2-2. 데이터 프레임의 가장 윗 5행을 보여주세요

   experiment_id researcher       date  temperature_C  ph_level result
0              1      Alice 2025-07-01           37.2       7.2   pass
1              2        Bob 2025-07-02           36.5       7.4   fail

In [ ]:
# Q2-3. 데이터 프레임의 가장 아래 5행을 보여주세요

   experiment_id researcher       date  temperature_C  ph_level result
5              6      Alice 2025-07-06           36.8       7.3   pass
6              7    Charlie 2025-07-07           38.3       6.8   fail
7              8      David 2025-07-08           36.4       7.5   fail
8              9    Charlie 2025-07-09           37.5       7.2   pass
9             10        Bob 2025-07-10           36.7       7.0   fail

## 3. 새로운 컬럼 추가
- Q3-1. temperature_C가 37도 이상인 샘플은 High를, 37이하인 샘플은 Normal인 temp_status컬럼을 만들어주세요
- Q3-2. ph_level이 7미만이면 Acidic, 7초과이면 Basic, 7이면 Neutral인 acid_base컬럼을 만들어주세요.
- Q3-3. score 컬럼을 만들어주세요.(벡터 연산)
    - score = temperature_C * ph_level

In [ ]:
# Q3-1. temperature_C가 37도 이상인 샘플은 High를, 37이하인 샘플은 Normal인 temp_status컬럼을 만들어주세요

,experiment_id,researcher,date,temperature_C,ph_level,result,temp_status
0,1,Alice,2025-07-01,37.2,7.2,pass,High
1,2,Bob,2025-07-02,36.5,7.4,fail,Normal
2,3,Alice,2025-07-03,38.1,6.9,pass,High
3,4,David,2025-07-04,35.9,7.0,fail,Normal
4,5,Bob,2025-07-05,37.0,7.1,pass,High
5,6,Alice,2025-07-06,36.8,7.3,pass,Normal
6,7,Charlie,2025-07-07,38.3,6.8,fail,High
7,8,David,2025-07-08,36.4,7.5,fail,Normal
8,9,Charlie,2025-07-09,37.5,7.2,pass,High
9,10,Bob,2025-07-10,36.7,7.0,fail,Normal

In [ ]:
# Q3-2. ph_level이 7미만이면 Acidic, 7초과이면 Basic, 7이면 Neutral인 acid_base컬럼을 만들어주세요.

,experiment_id,researcher,date,temperature_C,ph_level,result,temp_status,acid_base
0,1,Alice,2025-07-01,37.2,7.2,pass,High,Basic
1,2,Bob,2025-07-02,36.5,7.4,fail,Normal,Basic
2,3,Alice,2025-07-03,38.1,6.9,pass,High,Acidic
3,4,David,2025-07-04,35.9,7.0,fail,Normal,Neutral
4,5,Bob,2025-07-05,37.0,7.1,pass,High,Basic
5,6,Alice,2025-07-06,36.8,7.3,pass,Normal,Basic
6,7,Charlie,2025-07-07,38.3,6.8,fail,High,Acidic
7,8,David,2025-07-08,36.4,7.5,fail,Normal,Basic
8,9,Charlie,2025-07-09,37.5,7.2,pass,High,Basic
9,10,Bob,2025-07-10,36.7,7.0,fail,Normal,Neutral

In [ ]:
# Q3-3. score 컬럼을 만들어주세요.
    # score = temperature_C * ph_level

,experiment_id,researcher,date,temperature_C,ph_level,result,temp_status,acid_base,score
0,1,Alice,2025-07-01,37.2,7.2,pass,High,Basic,267.84
1,2,Bob,2025-07-02,36.5,7.4,fail,Normal,Basic,270.10
2,3,Alice,2025-07-03,38.1,6.9,pass,High,Acidic,262.89
3,4,David,2025-07-04,35.9,7.0,fail,Normal,Neutral,251.30
4,5,Bob,2025-07-05,37.0,7.1,pass,High,Basic,262.70
5,6,Alice,2025-07-06,36.8,7.3,pass,Normal,Basic,268.64
6,7,Charlie,2025-07-07,38.3,6.8,fail,High,Acidic,260.44
7,8,David,2025-07-08,36.4,7.5,fail,Normal,Basic,273.00
8,9,Charlie,2025-07-09,37.5,7.2,pass,High,Basic,270.00
9,10,Bob,2025-07-10,36.7,7.0,fail,Normal,Neutral,256.90

## 4. 조건 필터링
- Q4-1. result가 pass인 샘플만 보여주세요

In [ ]:
# Q4-1. result가 pass인 샘플만 보여주세요

,experiment_id,researcher,date,temperature_C,ph_level,result,temp_status,acid_base,score
0,1,Alice,2025-07-01,37.2,7.2,pass,High,Basic,267.84
2,3,Alice,2025-07-03,38.1,6.9,pass,High,Acidic,262.89
4,5,Bob,2025-07-05,37.0,7.1,pass,High,Basic,262.70
5,6,Alice,2025-07-06,36.8,7.3,pass,Normal,Basic,268.64
8,9,Charlie,2025-07-09,37.5,7.2,pass,High,Basic,270.00

## 5. 슬라이싱
- Q5-1. 처음 3개 실험의 researcher와 온도만 보여주세요(.loc, .iloc 활용)

In [ ]:
# Q5-1. 처음 3개 실험의 researcher와 온도만 보여주세요

  researcher  temperature_C
0      Alice           37.2
1        Bob           36.5
2      Alice           38.1

## 6. 정렬
- Q6-1. score가 높은 점수부터 나열해 주세요

In [ ]:
# Q6-1. score가 높은 점수부터 나열해 주세요

,experiment_id,researcher,date,temperature_C,ph_level,result,temp_status,acid_base,score,Group
7,8,David,2025-07-08 00:00:00,36.4,7.5,fail,Normal,Basic,273.00,A
1,2,Bob,2025-07-02 00:00:00,36.5,7.4,fail,Normal,Basic,270.10,A
8,9,Charlie,2025-07-09 00:00:00,37.5,7.2,pass,High,Basic,270.00,A
5,6,Alice,2025-07-06 00:00:00,36.8,7.3,pass,Normal,Basic,268.64,A
0,1,Alice,2025-07-01 00:00:00,37.2,7.2,pass,High,Basic,267.84,A
2,3,Alice,2025-07-03 00:00:00,38.1,6.9,pass,High,Acidic,262.89,A
4,5,Bob,2025-07-05 00:00:00,37.0,7.1,pass,High,Basic,262.70,A
6,7,Charlie,2025-07-07 00:00:00,38.3,6.8,fail,High,Acidic,260.44,A
10,11,Eve,2025-07-11,36.6,7.1,pass,Normal,Neutral,259.86,A
9,10,Bob,2025-07-10 00:00:00,36.7,7.0,fail,Normal,Neutral,256.90,A
3,4,David,2025-07-04 00:00:00,35.9,7.0,fail,Normal,Neutral,251.30,A

## 7. groupby 예제
- Q7-1. researcher별 평균 온도는 얼마입니까?
- Q7-2. researcher와 온도 상태별 실험 수는 어떻게 됩니까?

In [ ]:
# Q7-1. researcher별 평균 온도는 얼마입니까?

  researcher  temperature_C
0      Alice      37.366667
1        Bob      36.733333
2    Charlie      37.900000
3      David      36.150000
4        Eve      36.600000

In [ ]:
# Q7-2. researcher와 온도 상태별 실험 수는 어떻게 됩니까?

  researcher temp_status  experiment_id
0      Alice        High              2
1      Alice      Normal              1
2        Bob        High              1
3        Bob      Normal              2
4    Charlie        High              2
5      David      Normal              2
6        Eve      Normal              1

## 8. 결측값 처리 실습용
- Q8-1. 3번째행의 'ph_level' 값을 빈 값으로 만들어주세요
- Q8-2. 결측값 존재하는 행을 확인해주세요
- Q8-3. 'ph_level'컬럼의 결측값을 평균값으로 채워주세요

In [ ]:
# Q8-1. 3번째행의 'ph_level' 값을 빈 값으로 만들어주세요.

,experiment_id,researcher,date,temperature_C,ph_level,result,temp_status,acid_base,score,Group
0,1,Alice,2025-07-01 00:00:00,37.2,7.2,pass,High,Basic,267.84,A
1,2,Bob,2025-07-02 00:00:00,36.5,7.4,fail,Normal,Basic,270.10,A
2,3,Alice,2025-07-03 00:00:00,38.1,NaN,pass,High,Acidic,262.89,A
3,4,David,2025-07-04 00:00:00,35.9,7.0,fail,Normal,Neutral,251.30,A
4,5,Bob,2025-07-05 00:00:00,37.0,7.1,pass,High,Basic,262.70,A
5,6,Alice,2025-07-06 00:00:00,36.8,7.3,pass,Normal,Basic,268.64,A
6,7,Charlie,2025-07-07 00:00:00,38.3,6.8,fail,High,Acidic,260.44,A
7,8,David,2025-07-08 00:00:00,36.4,7.5,fail,Normal,Basic,273.00,A
8,9,Charlie,2025-07-09 00:00:00,37.5,7.2,pass,High,Basic,270.00,A
9,10,Bob,2025-07-10 00:00:00,36.7,7.0,fail,Normal,Neutral,256.90,A
10,11,Eve,2025-07-11,36.6,7.1,pass,Normal,Neutral,259.86,A

In [ ]:
# Q8-2. 결측값 존재하는 행을 확인해주세요

,experiment_id,researcher,date,temperature_C,ph_level,result,temp_status,acid_base,score,Group
2,3,Alice,2025-07-03 00:00:00,38.1,NaN,pass,High,Acidic,262.89,A

In [ ]:
# Q8-3. 'ph_level'컬럼의 결측값을 평균값으로 채워주세요

,experiment_id,researcher,date,temperature_C,ph_level,result,temp_status,acid_base,score,Group
0,1,Alice,2025-07-01 00:00:00,37.2,7.20,pass,High,Basic,267.84,A
1,2,Bob,2025-07-02 00:00:00,36.5,7.40,fail,Normal,Basic,270.10,A
2,3,Alice,2025-07-03 00:00:00,38.1,7.16,pass,High,Acidic,262.89,A
3,4,David,2025-07-04 00:00:00,35.9,7.00,fail,Normal,Neutral,251.30,A
4,5,Bob,2025-07-05 00:00:00,37.0,7.10,pass,High,Basic,262.70,A
5,6,Alice,2025-07-06 00:00:00,36.8,7.30,pass,Normal,Basic,268.64,A
6,7,Charlie,2025-07-07 00:00:00,38.3,6.80,fail,High,Acidic,260.44,A
7,8,David,2025-07-08 00:00:00,36.4,7.50,fail,Normal,Basic,273.00,A
8,9,Charlie,2025-07-09 00:00:00,37.5,7.20,pass,High,Basic,270.00,A
9,10,Bob,2025-07-10 00:00:00,36.7,7.00,fail,Normal,Neutral,256.90,A
10,11,Eve,2025-07-11,36.6,7.10,pass,Normal,Neutral,259.86,A